node_modules/
.env
.cookie_secret
.stats_token

data.sqlite
data.sqlite-shm
data.sqlite-wal
data/*.sqlite
data/*.sqlite-shm
data/*.sqlite-wal
data/.cookie_secret
data/.stats_token
assets/
data/assets/

tmp/
*.backup

npm-debug.log*
*.log
.DS_Store
.vscode/